* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

#myBtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    border: none;
    font-size: 18px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    border: 2px solid;
    background-image: radial-gradient(circle at 81.28% 5.32%, #0099f4 0, #2d94f4 3.33%, #5990f2 6.67%,
            #768bee 10%, #8e85e9 13.33%, #a180e1 16.67%, #b37ad8 20%, #c174ce 23.33%, #ce6fc3 26.67%,
            #d86ab7 30%, #e067aa 33.33%, #e6649d 36.67%, #ea638f 40%, #ec6382 43.33%, #ec6575 46.67%,
            #ea6868 50%, #e76c5c 53.33%, #e27150 56.67%, #db7646 60%, #d37b3c 63.33%, #cb8034 66.67%,
            #c1852c 70%, #b68a27 73.33%, #ab8f25 76.67%, #9e9325 80%, #929729 83.33%, #849b2f 86.67%,
            #759e37 90%, #65a041 93.33%, #53a34c 96.67%, #3da458 100%);

}

#myBtn:hover {
    color: white;
    background-image: radial-gradient(circle at 81.28% 5.32%, #ff8ea0 0, #ff948d 3.33%, #ff9a7c 6.67%,
            #ffa16b 10%, #ffa95c 13.33%, #ffb14d 16.67%, #ffb941 20%, #ffc136 23.33%, #ffc82e 26.67%,
            #efcf2b 30%, #dcd52e 33.33%, #c9da35 36.67%, #b4df41 40%, #9ee34f 43.33%, #85e75e 46.67%,
            #68ea6f 50%, #3eed81 53.33%, #00ef94 56.67%, #00f0a8 60%, #00f2bc 63.33%, #00f2d0 66.67%,
            #00f3e5 70%, #00f3f8 73.33%, #00f2ff 76.67%, #00f1ff 80%, #00f0ff 83.33%, #00eeff 86.67%,
            #00ebff 90%, #00e8ff 93.33%, #00e3ff 96.67%, #00dfff 100%);
}

.btModal {
    position: fixed !important;
    margin-top: 12%;
    margin-left: 85%;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Modal Content */
.modal-content {
    position: fixed !important;
    background-image: radial-gradient(circle at 85.36% -11.24%, #00b5dd 0, #00b5f4 3.33%, #00b4ff 6.67%,
            #00b3ff 10%, #00b1ff 13.33%, #00aeff 16.67%, #00aaff 20%, #00a5ff 23.33%, #009fff 26.67%,
            #0097ff 30%, #008dff 33.33%, #0082ff 36.67%, #7774ff 40%, #aa64ff 43.33%, #cf51ff 46.67%,
            #eb38ff 50%, #ff07e8 53.33%, #ff00d1 56.67%, #ff00b8 60%, #ff009f 63.33%, #ff0086 66.67%,
            #ff006d 70%, #ff0055 73.33%, #ff003d 76.67%, #ff1221 80%, #ff3900 83.33%, #ff5000 86.67%,
            #f46100 90%, #e47000 93.33%, #d17c00 96.67%, #bd8600 100%);
    margin-left: 30%;
    margin-top: 4%;
    border-radius: 20px;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    font-size: 35px;
    font-weight: bolder;
    margin-left: 93%;
    cursor: pointer;
    border: 2px solid;
    padding: 1px;
    border-radius: 5px;
    
}

.form {
    text-align: center;
}

.form h3 {
    font-size: 40px;
}

.form h4 {
    font-size: 25px;
}

.form input {
    text-align: center;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 20px;
}

#iptNome {
    margin-top: 15px;
}


.bt {
    margin: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #141414;
    color: #F3F3F3;
    box-shadow: 0px 3px 18px 2px rgba(48, 45, 48, 1);
}


/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


/* espaçamento topo */
.top1 {
    background-color: black;
    height: 50px
}

/* navbar montagem */
.navbar2 {
    background-color: #4485f3;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end
}

/* navbar botões */
.navbar2 button {
    font-size: 16px;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    border: none;
    margin: 0px 10px 5px 10px;
    cursor: pointer;
    font-weight: 600;
}

.navbar2 button:hover {
    color: #F3F3F3;
    background-color: #141414;
    cursor: pointer;
    border: 2px solid #F3F3F3;
    border-radius: 10px;
    opacity: 0.7;

}

#lac {
    height: 50px;
    width: 110px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        bottom: 10px;
        top: 10px;
        color: black;
    }

    50% {
        background-color: blue;
        bottom: 10px;
        top: 10px;
        color: white;
    }

    75% {
        background-color: green;
        bottom: 10px;
        top: 10px;
        color: black;
    }

    100% {
        background-color: red;
        bottom: 10px;
        top: 10px;
        color: white;
    }
}


/* navbar input de pesquisa */
.navbar2 input {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: none;
    margin: 0px 10px 5px 10px;
    text-align: center;
}


/* titulo neon */
.neon {
    text-align: center;
    background-color: black;
    animation: neonAnim 0.3s alternate-reverse infinite;
    color: #007BFF;
    font-family: Cursive;
    font-size: 50px;
}

hr {
    color: #c0f9ef;
}

@keyframes neonAnim {
    from {
        text-shadow:
            0 0 36px rgba(0, 123, 255, .7),
            0 0 66px rgba(0, 123, 255, .7),
            0 0 126px rgba(0, 123, 255, .7);
    }

    to {
        text-shadow:
            0 0 31px rgba(0, 123, 255, .7),
            0 0 46px rgba(0, 123, 255, .7),
            0 0 86px rgba(0, 123, 255, .7);
    }
}

/* Cards */
.cards {
    background-image: radial-gradient(circle at 56.16% 120.44%, #ffe7cc 0, #ffe8ca 3.33%, #ffeac8 6.67%, #ffecc8 10%,
            #faedc8 13.33%, #f4efc8 16.67%, #eef1ca 20%, #e8f2cc 23.33%, #e2f4cf 26.67%, #ddf5d2 30%, #d7f6d6 33.33%,
            #d1f7db 36.67%, #ccf8df 40%, #c7f8e4 43.33%, #c3f9ea 46.67%, #c0f9ef 50%, #bdf9f4 53.33%, #bcf9f9 56.67%,
            #bbf8fe 60%, #bcf8ff 63.33%, #bdf7ff 66.67%, #c0f6ff 70%, #c3f5ff 73.33%, #c8f4ff 76.67%, #cdf2ff 80%,
            #d3f1ff 83.33%, #d9efff 86.67%, #e0edff 90%, #e7ecff 93.33%, #edeaff 96.67%, #f4e8ff 100%);
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.cards img {
    transition: all 0.2s;
    cursor: pointer;
}

.cards img:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    height: 510px;
    width: 235px;
}

.containerCard {
    color: #91ebda;
    background-color: #141414;
}

.containerCard h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-left: 85px;
}





/* Segunda div de Cards */
.cards2 {
    background-image: radial-gradient(circle at 43.84% -20.44%, #ffe7cc 0, #ffe8ca 3.33%, #ffeac8 6.67%,
            #ffecc8 10%, #faedc8 13.33%, #f4efc8 16.67%, #eef1ca 20%, #e8f2cc 23.33%, #e2f4cf 26.67%,
            #ddf5d2 30%, #d7f6d6 33.33%, #d1f7db 36.67%, #ccf8df 40%, #c7f8e4 43.33%, #c3f9ea 46.67%,
            #c0f9ef 50%, #bdf9f4 53.33%, #bcf9f9 56.67%, #bbf8fe 60%, #bcf8ff 63.33%, #bdf7ff 66.67%,
            #c0f6ff 70%, #c3f5ff 73.33%, #c8f4ff 76.67%, #cdf2ff 80%, #d3f1ff 83.33%, #d9efff 86.67%,
            #e0edff 90%, #e7ecff 93.33%, #edeaff 96.67%, #f4e8ff 100%);
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.cards2 img {
    transition: all 0.2s;
    cursor: pointer;
}

.cards2 img:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    height: 510px;
    width: 235px;
}

.containerCard2 {
    color: #91ebda;
    background-color: #141414;
}

.containerCard2 h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-left: 85px;
}

/* Div Categorias */

.category {
    height: 500px;
    display: flex;
    flex-direction: column;

    background-color: #141414;
}

.group {
    justify-content: space-around;
    display: flex;
    grid-auto-flow: column;
    text-align: center;
    margin-bottom: 35px;
}


.group img {
    transition: all .5s;
    border: 10px solid transparent;
    border-radius: 50px;
}

.group img:hover {
    cursor: pointer;
    border: 10px solid #91ebda;
    ;
    border-radius: 50%;
}


.titleGroup {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.group h2 {
    color: yellow;
}

.category h3 {
    color: #91ebda;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

/* informações de pgto */
#pgto img {
    width: 100%;
}

/* footer */
.footer {
    background-color: #141414;

}

.footer h4 {
    color: #91ebda;
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}